<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotação</title>
    <style>
        main{
            display: grid;
            grid-template-columns: max-content max-content;
            gap: 20px;
        }
    </style>
</head>
<body>
    <main>
        <span>cotação atual:</span>
        <span>R$ {{ valor }}</span>
        
        <span>Preço produto:</span>
        <span>$ {{ preco }}</span>

        <span>Total:</span>
        <span>R$ {{ total }}</span>
    </main>
</body>
</html>